body {
 background-color: rgb(12, 6, 6);
}
*{ 
    color: white;
   
}

.contenedor {
  display: flex;
  gap: 80px;
  
  
  
}
.texto {
    flex-direction: column;
    max-width: 800px;
    
    
    
}
img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 1000px) {

    .contenedor {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .texto {
        max-width: 90%;
    }

    img {
        width: 80%;
        max-width: 400px;
        margin-left: 0 !important;
    }

    table {
        width: 100% !important;
        max-width: 500px;
    }
}
