   
    body {
      background-image: url("img/fondo.png");
    }
 body {
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;
}
h1 {
  font-size: 60px;
  color: aliceblue;
   text-shadow: 
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
 
}
h3 {
  font-size: 24px;
  color: rgb(255, 252, 252);
   text-shadow: 
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
     margin-top: -1%;
}
button{
    font-size: 18px;
     transition: 0.3s;
}
.button:hover{
    transform:  scale(1.2);
}
